<p>articles works!</p>

<div id = "interests">
	<span>List of Interests</span>
	<li *ngFor="let interest of interests" (click)="onSelectInterest(interest)"> {{interest}}
</div>

<div>
	<button type="button" (click)="goToProfile()">Profile</button>
</div>

<div id="ArticleList" class = "articles">
	<div *ngFor= "let article of articles" (click)="onSelectArticle(article)">
		<h1>
		{{article.title}}
		</h1>	
		<p>
			By: {{article.author}}
		</p>
		<p>
			{{article.content}}
		</p>
	</div>
	
</div>